@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}


* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    color:white;
    font-size:12px;
    font-family: 'Inter', sans-serif;
}


.header {
    height: 10vh;
    color:white;
}

.header ion-icon:hover {
    transform:scale(1.4);
    animation: rotate 2s ease-in-out infinite;
    background-color: #060a1f;
    border-radius:50%;
    padding:20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
    background-color: #161e47;
}


.container-fluid {
    background: rgb(22,30,71);
    background: radial-gradient(circle, rgba(22,30,71,0.9192051820728291) 0%, rgba(22,30,71,0.9612219887955182) 21%, rgba(22,30,71,0.9332107843137255) 100%);
}
.icons {
    margin-top:5%;
    margin-right:5%;
    margin-left: 5%;
}

ion-icon {
    font-size:25px;
}


.register {
    height: 40vh;
}

.input_register {
    margin-top:4vh;
    width:50vw;
    height:100%;
}

button ion-icon {
    font-size:20px;
    color:#ffffff;
}

.buttons {
    gap:10px;
}

button {
    position:relative;top:20px;
    color:white;
    background-color: transparent;
    border:none;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    border:1px solid white;
    width: 45px;
    height: 45px;
}

button:active {
    transform:scale(1.4);
}


Select {
    border-radius:20px;
    background-color: #060a1f;
    padding:5px;
    width:30vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:rgb(255, 255, 255);
}

option {
    color:rgb(255, 255, 255);
    background-color: #060a1f;
}

.players {
    height:40vh;
}


h1 {
    font-size:15px;
    font-weight: bold;
}

table { 
    background-color: #060a1f;
    height:50px;
    width:100%;
    border:1px solid White;
    margin-top:30px;
    text-align: center;
}

th,td,tr {
    border:1px solid White;
    height:30px;
    width:30px;

}

.table_control {
    width:250px;
    max-height:300px;
    overflow-y: auto;
}

.teams_error {
    font-size:14px;
    position:relative;top:50px;
}

.cleanItem {
    position:relative;top:0px;
    width:98%;
    height:100%;
    background-color: #161e47;
    border-radius:0%;
}