@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}


* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    color:white;
    font-size:12px;
    font-family: 'Inter', sans-serif;
}


.header {
    height: 10vh;
    color:white;
}

.header ion-icon:hover {
    transform:scale(1.4);
    animation: rotate 2s ease-in-out infinite;
    background-color: #060a1f;
    border-radius:50%;
    padding:20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
    background-color: #161e47;
}


.container-fluid {
    background: rgb(22,30,71);
    background: radial-gradient(circle, rgba(22,30,71,0.9192051820728291) 0%, rgba(22,30,71,0.9612219887955182) 21%, rgba(22,30,71,0.9332107843137255) 100%);
}
.icons {
    margin-top:5%;
    margin-right:5%;
    margin-left: 5%;
}

ion-icon {
    font-size:25px;
}


.register {
    height: 30vh;
}

.input_register {
    margin-top:4vh;
    width:40vw;
    height:100%;
}

button ion-icon {
    font-size:20px;
    color:#ffffff;
}

button {
    position:relative;top:20px;
    color:white;
    background-color: transparent;
    border:none;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    border:1px solid white;
    width: 45px;
    height: 45px;
}

button ion-icon:active {
    background-color: #060a1f;
    border-radius:50%;
    padding:10px;
    transform:scale(1.2);
}


Select {
    border-radius:20px;
    background-color: #060a1f;
    padding:5px;
    width:30vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:rgb(255, 255, 255);
}

option {
    color:rgb(255, 255, 255);
    background-color: #060a1f;
}

.players {
    height:200px;
    margin-top:20px;
}


.total_players {
    height: 25vh;
}

.control_carousel {
    max-width: 380px;
    height:180px;
    gap:20px;
    overflow-x: auto;
}

.players_carousel {
    margin-top:10px;
    background-color: #060a1f;
    min-height:70px;
    min-width:120px;
    border-radius:20px;
    color:white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.class_circle {
    width:50%;
    height:50%;
    border-radius:100%;
    background-color: #747D94;
    margin-left: auto;
    margin-right: auto;
}

.class_circle p {
    font-size:30px;
}

.box-carousel {
    width:100px;
    height:100px;
}

.box_player {
    width:180px;
    background-color: #060a1f;
    height:120px;
    margin-left:20vw;
    margin-right:20vw;
    border-radius:20px;
    color:white;
    box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.25);

}

h1 {
    font-size:15px;
    font-weight: bold;
}

.loading {
    animation: rotate 2s ease-in-out infinite;
    font-size:40px;
}